/* Change bootstrap defaults. */
.container {
  width: 720px;
}

.test {
  background-color: red;
}

.view-label {
  text-align: center;
  margin-top: 30px;
}

.tuning {
  margin-left: 60px;
}

.tuning-view .note-view {
  margin: 0;
}

.tuning-view .note-button {
  font-weight: bolder;
}

.tonic-view {
  margin-left: 130px;

    /* Prevent note from being selected. */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tonic-view .black-keys .first-group {
  display: inline-block;
  margin-left: 30px;
}

.tonic-view .black-keys .second-group {
  display: inline-block;
  margin-left: 60px;
}

.tonic-view .note-toggle {
  float: left;

  font-size: 24px;

  min-width: 50px;
  min-height: 50px;

  margin-right: 5px;

  border: 5px solid black;
  border-radius: 50%;

  text-align: center;
  line-height: 50px;
}

.tonic-view .selected {
  color: white;
  background-color: black;
}
