.scales-view,
.tuning-view,
.tunings-view {
  float: left;
  margin: 10px;
}

.tuning-view .note-view .note-input {
  margin: 0;
}

.tuning-view .note-button {
  font-weight: bolder;
}

.tonic-view {
  margin-left: 60px;

    /* Prevent note from being selected. */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tonic-view .black-keys .first-group {
  display: inline-block;
  margin-left: 30px;
}

.tonic-view .black-keys .second-group {
  display: inline-block;
  margin-left: 60px;
}

.tonic-view .note-toggle {
  float: left;

  font-size: 24px;

  min-width: 50px;
  min-height: 50px;

  margin-right: 5px;

  border: 5px solid #000;
  border-radius: 50%;

  text-align: center;
  line-height: 50px;
}

.tonic-view .selected {
  color: #FFF;
  background-color: #000;
}
