$width: 720px;
$spacing: 25px;

// Distances from left side of container.
$x-offset: 60px;

$tonic-note-size: 50px;
$tonic-note-font-size: 25px;
$tonic-note-spacing: 5px;

$scale-degree-size: 25px;
$scale-degree-font-size: 16px;
$scale-degree-spacing: 2px;

/* Change bootstrap defaults. */
.container {
  width: $width;
}

/* Taken from Bootstrap example site. */
footer {
  padding: 30px 0;
  margin-top: 70px;
  background-color: #f5f5f5;

  .credit {
    margin-left: 40px
  }
}

/* Custom CSS. */
.view-label {
  text-align: center;
}

.tuning {
  margin-left: $x-offset;

  .note-view {
    margin: 0;
  }
  .note-button {
    font-weight: bolder;
  }
}

.controls {
  margin-top: $spacing;
}

/* Piano style views */
.scale-view,
.tonic-view {
  /* Prevent note from being selected. */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.first-group,
.second-group {
  display: inline-block;
}

.selected {
  color: white;
  background-color: black;
}

.toggle {
  float: left;
  text-align: center;
  border-radius: 50%;
}

@mixin toggle($size, $spacing, $font-size) {
  font-size: $font-size;

  min-width: $size;
  min-height: $size;

  margin-right: $spacing;

  border: $spacing solid black;
  line-height: $size;
}

@mixin black-keys($size, $spacing, $font-size) {
  .first-group {
    margin-left: 0.5 * $size + $spacing;
  }
  .second-group {
    margin-left: $size + 2 * $spacing;
  }
}

/* Tonic view */
.tonic-view {
  // 16 is apparently the number of spaces that centers the tonic view.
  margin: {
    left: 0.5 * ($width - 7 * $tonic-note-size - 16 * $tonic-note-spacing);
    top: $spacing;
  }

  .black-keys {
    @include black-keys($tonic-note-size, $tonic-note-spacing, $tonic-note-font-size);
  }
}

.tonic-view .note {
  @include toggle($tonic-note-size, $tonic-note-spacing, $tonic-note-font-size);
}


/* Scale view */
.scale-view {
  @include black-keys($scale-degree-size, $scale-degree-spacing, $scale-degree-font-size);
}

.scale-view .scale-degree {
  @include toggle($scale-degree-size, $scale-degree-spacing, $scale-degree-font-size);
}

/* Scales view. */
.scales-view {
  margin-top: 2 * $spacing;
}
