/* Change bootstrap defaults. */
.container {
  width: 720px; }

/* Taken from Bootstrap site. */
footer {
  padding: 30px 0;
  margin-top: 70px;
  background-color: #f5f5f5; }
  footer .credit {
    margin-left: 40px; }

/* Custom CSS. */
.view-label {
  text-align: center; }

.tuning {
  margin-left: 60px; }
  .tuning .note-view {
    margin: 0; }
  .tuning .note-button {
    font-weight: bolder; }

/* Piano style views */
.scale-view,
.tonic-view {
  /* Prevent note from being selected. */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.first-group,
.second-group {
  display: inline-block; }

.selected {
  color: white;
  background-color: black; }

.toggle {
  float: left;
  text-align: center;
  border-radius: 50%; }

/* Tonic view */
.tonic-view {
  margin-left: 145px; }
  .tonic-view .black-keys .first-group {
    margin-left: 30px; }
  .tonic-view .black-keys .second-group {
    margin-left: 60px; }

.tonic-view .note {
  font-size: 25px;
  min-width: 50px;
  min-height: 50px;
  margin-right: 5px;
  border: 5px solid black;
  line-height: 50px; }

/* Scale view */
.scale-view .first-group {
  margin-left: 14.5px; }
.scale-view .second-group {
  margin-left: 29px; }

.scale-view .scale-degree {
  font-size: 16px;
  min-width: 25px;
  min-height: 25px;
  margin-right: 2px;
  border: 2px solid black;
  line-height: 25px; }

/* Scales view. */
.scales-view {
  margin-top: 50px; }
