/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
// @import "compass/reset";

@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/user-interface";

$width: 720px;
$spacing: 25px;

$footer-height: 50px;

$tonic-note-size: 50px;
$tonic-note-font-size: 25px;
$tonic-note-spacing: 5px;

$scale-degree-size: 25px;
$scale-degree-font-size: 14px;
$scale-degree-spacing: 2px;

// $tonic-note-size: 25px;
// $tonic-note-font-size: 14px;
// $tonic-note-spacing: 2px;

body {
  height: 100%;
  background-color: #333;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Change bootstrap defaults. */
.container {
  width: $width;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

header {
  width: 100%;
  height: 40px;
  color: #ddd;
  padding: 10px;
  background-color: #333;
  letter-spacing: 4px;
  text-align: center;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
  // @include background(linear-gradient(90deg, #333, #222, #333));
  //
  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }
}

/* Taken from Bootstrap example site. */
footer {
  padding: 30px 0;
  // margin-top: $spacing;
  background-color: #222;
  height: $footer-height;

  .credits {
    margin-left: 40px
  }
}

input,
select,
.form-control {
  background-color: #333;
  color: #CCC;
  border: none;
  letter-spacing: 0.5px;

  &:focus {
    outline: none;
    @include box-shadow(none);
  }
}

// .controls {
//   background-color: #555;
// }

.content {
  min-height: 256px;
  height: auto !important;
  height: 100%;
  width: 100%;
  /* Negative indent footer by it's height */
  margin: 0;
  padding: 0;
  float: left;
  background-color: white;

  @media screen and (min-width: 768px)  {
    margin-top: $spacing;
  }
}

/* Custom CSS. */
.view-label {
  // background-color: black;
  color: rgba(255, 255, 255, 0.75);
  padding: 8px;
  padding-left: 1em;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  text-shadow: -1px 0 #111;
  border-bottom: 1px solid #111;
  background-color: #444;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25));
}

.control {
  padding: 10px;
}

.tuning {
  .note-view {
    margin: 0;
  }

  .note-button {
    font-weight: bolder;
  }
}

/* Piano style views */
.scale-view,
.tonic-view {
  @include user-select(none);

  // height: 2 * $tonic-note-size + $tonic-note-spacing;
  // margin-top: 0.5 * $spacing;
  // margin-bottom: 0.5 * $spacing;

  min-height: 75px;
}

.first-group,
.second-group {
  display: inline-block;
}


.toggle {
  float: left;
  text-align: center;
  border-radius: 50%;
  // Bootstrap 3 uses border-box by default, thereby skewing the dimensions of
  // toggles.
  box-sizing: content-box;

  background-color: #444;
  color: #EEE;
}

.selected {
  background-color: #EEE;
  background-image: none;
  color: #444;
}

@mixin toggle($size, $spacing, $font-size) {
  font-size: $font-size;

  min-width: $size;
  min-height: $size;

  margin-right: $spacing;

  border: $spacing solid #EEE;
  line-height: $size;
}

@mixin black-keys($size, $spacing, $font-size) {
  .first-group {
    margin-left: 0.5 * $size + $spacing;
  }
  .second-group {
    margin-left: $size + 2 * $spacing;
  }
}

/* Tonic view */
.tonic-view {
  // 16 is apparently the number of spaces that centers the tonic view.
  margin: {
    // left: 0.25 * ($width - 7 * $tonic-note-size - 16 * $tonic-note-spacing);
    // top: $spacing;
    bottom: 3 * $spacing;
  }

  .black-keys {
    @include black-keys($tonic-note-size, $tonic-note-spacing, $tonic-note-font-size);
  }
}

.tonic-view .note {
  @include toggle($tonic-note-size, $tonic-note-spacing, $tonic-note-font-size);
}


/* Scale view */
.scale-view {
  margin-left: $scale-degree-spacing;

  @include black-keys($scale-degree-size, $scale-degree-spacing, $scale-degree-font-size);
}

.scale-view .scale-degree {
  @include toggle($scale-degree-size, $scale-degree-spacing, $scale-degree-font-size);
}

