/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/user-interface";

$width: 720px;
$spacing: 25px;

$header-height: 50px;
$footer-height: 50px;
$page-shadow-color: rgba(0, 0, 0, 0.5);

// Distances from left side of container.
$x-offset: 60px;

$tonic-note-size: 50px;
$tonic-note-font-size: 25px;
$tonic-note-spacing: 5px;

$scale-degree-size: 25px;
$scale-degree-font-size: 16px;
$scale-degree-spacing: 2px;

$dark-gray: #444;
$darker-gray: #333;

$sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

html,
body {
  height: 100%;
  font-family: $sans-serif;
}

/* Change bootstrap defaults. */
.container {
  width: $width;
}

header {
  width: 100%;
  min-width: $width;
  height: $header-height;

  padding: 1em;

  background-color: $darker-gray;
  color: #ddd;

  letter-spacing: 0.3em;
  text-align: center;

  @include box-shadow(0 1px 5px $page-shadow-color);

  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Taken from Bootstrap example site. */
footer {
  padding: 30px 0;
  margin-top: $spacing;

  min-width: $width;
  height: $footer-height;

  background-color: $darker-gray;
  @include box-shadow(0 -1px 5px $page-shadow-color);
}

input,
select,
.form-control {
  background-color: #eee;
  color: $darker-gray;
  border: none;
  letter-spacing: 0.5px;

  &:focus {
    outline: none;
    @include box-shadow(none);
  }
}

input {
  &:focus {
    background-color: #ddd;
  }
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0.5 * $spacing auto;
}

/* Custom CSS. */
.view-label {
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.tuning {
  .note-view {
    margin: 0;
  }

  .note-button {
    font-weight: bolder;
  }
}

.controls {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

/* Piano style views */
.scale-view,
.tonic-view {
  @include user-select(none);
}

.first-group,
.second-group {
  display: inline-block;
}

.selected {
  color: white;
  background-color: $dark-gray;
}

.toggle {
  float: left;
  text-align: center;
  border-radius: 50%;
  // Bootstrap 3 uses border-box by default, thereby skewing the dimensions of
  // toggles.
  @include box-sizing(content-box);
}

@mixin toggle($size, $spacing, $font-size) {
  font-size: $font-size;

  min-width: $size;
  min-height: $size;

  margin-right: $spacing;

  border: $spacing solid $dark-gray;
  line-height: $size;
}

@mixin black-keys($size, $spacing, $font-size) {
  .first-group {
   margin-left: 0.5 * $size + $spacing;
  }
  .second-group {
    margin-left: $size + 2 * $spacing;
  }
}

/* Tonic view */
.tonic-view {
  // 16 is apparently the number of spaces that centers the tonic view.
  margin: {
    left: 0.5 * ($width - 7 * $tonic-note-size - 16 * $tonic-note-spacing);
    top: $spacing;
  }

  .black-keys {
    @include black-keys($tonic-note-size, $tonic-note-spacing, $tonic-note-font-size);
  }
}

.tonic-view .note {
  @include toggle($tonic-note-size, $tonic-note-spacing, $tonic-note-font-size);
}


/* Scale view */
.scale-view {
  min-width: 220px;
  @include black-keys($scale-degree-size, $scale-degree-spacing, $scale-degree-font-size);
}

.scale-view .scale-degree {
  @include toggle($scale-degree-size, $scale-degree-spacing, $scale-degree-font-size);
}

/* Scales view. */
.scales-view {
  margin-top: 2 * $spacing;
}
