<div class="black-keys">
  <div class="first-group">
    <div class="scale-degree toggle" data-scale-degree=1>1</div>
    <div class="scale-degree toggle" data-scale-degree=3>3</div>
  </div>
  <div class="second-group">
    <div class="scale-degree toggle" data-scale-degree=6>6</div>
    <div class="scale-degree toggle" data-scale-degree=8>8</div>
    <div class="scale-degree toggle" data-scale-degree=10>10</div>
  </div>
</div>
<div class="white-keys">
  <div class="scale-degree toggle" data-scale-degree=0>R</div>
  <div class="scale-degree toggle" data-scale-degree=2>2</div>
  <div class="scale-degree toggle" data-scale-degree=4>4</div>
  <div class="scale-degree toggle" data-scale-degree=5>5</div>
  <div class="scale-degree toggle" data-scale-degree=7>7</div>
  <div class="scale-degree toggle" data-scale-degree=9>9</div>
  <div class="scale-degree toggle" data-scale-degree=11>11</div>
</div>
