<div class="note-toggle" value=0>C</div>
<div class="note-toggle" value=1>C&#x266F</div>
<div class="note-toggle" value=2>D</div>
<div class="note-toggle" value=3>D&#x266F</div>
<div class="note-toggle" value=4>E</div>
<div class="note-toggle" value=5>F</div>
<div class="note-toggle" value=6>F&#x266F</div>
<div class="note-toggle" value=7>G</div>
<div class="note-toggle" value=8>G&#x266F</div>
<div class="note-toggle" value=9>A</div>
<div class="note-toggle" value=10>A&#x266F</div>
<div class="note-toggle" value=11>B</div>


