<div class="black-keys">
  <div class="first-group">
    <div class="note-toggle" data-note=1>C&#x266F</div>
    <div class="note-toggle" data-note=3>D&#x266F</div>
  </div>
  <div class="second-group">
    <div class="note-toggle" data-note=6>F&#x266F</div>
    <div class="note-toggle" data-note=8>G&#x266F</div>
    <div class="note-toggle" data-note=10>A&#x266F</div>
  </div>
</div>
<div class="white-keys">
  <div class="note-toggle" data-note=0>C</div>
  <div class="note-toggle" data-note=2>D</div>
  <div class="note-toggle" data-note=4>E</div>
  <div class="note-toggle" data-note=5>F</div>
  <div class="note-toggle" data-note=7>G</div>
  <div class="note-toggle" data-note=9>A</div>
  <div class="note-toggle" data-note=11>B</div>
</div>
